@import "./assets/styles/variables";

.root {
  position: relative;
}

.group {
  display: flex;
}

.actual {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.total {
  z-index: 1;
  position: relative;
}
